# The project needs a config.env file
# copy this file and insert the values you need for your app to work
# as a list of space-separated key value pairs

# comments start with # 

## CLOUD VENDOR ##

# data to create a connection string to Azure Blob
AZURE_BLOB_ACCOUNT xxxxx
AZURE_BLOB_KEY xxxxx

# azure images container name
AZURE_CONTAINER xxxxx

# azure Computer Vision
AZURE_COMPUTER_VISION_ENDPOINT xxxxx
AZURE_COMPUTER_VISION_KEY xxxxx

# uploaded images standard sas duration for blobs in php DateInterval syntax
# Azure blob shared access signatures duration in years
AZURE_BLOB_SAS_EXPIRY_YEARS 1

# Azure SendGrid Api key
AZURE_SENDGRID_KEY xxxxx


## LOCAL MONGO DB ##

DB_HOST http://localhost
DB_USER xxxxx
DB_PWD  xxxxx
DB_NAME xxxxx


## LOCAL ENVIRONMENT ##
ALLOW_ORIGIN http://localhost

# default file upload folder
UPLOAD_FOLDER ./uploads 

# cookies related params as those to be encrypted (comma separated)
# COOKIE_EXPIRY_IN_DAYS must always be less than AZURE_BLOB_SAS_EXPIRY_YEARS
HTTP_COOKIE_PARAM storage
COOKIE_EXPIRY_IN_DAYS 60 
COOKIES_TO_ENCRYPT token,user


# api config
API_CONFIG [
    timezone Europe/Rome
    key example_key
    iss http://example.org
    aud http://example.com
    iat 1356999524
    nbf 1357000000
]